@model List<BanqueRepositoryClass.Models.Account>
@using BanqueRepositoryClass.Models;
@{ ViewData["Title"] = "Index"; }

<h1>Accueil Comptes bancaire</h1>
@if (ViewBag.Message != null)
{
<div class="row justify-content-center">
    <div class="col-6 alert alert-success">@ViewBag.Message</div>
</div>}

@foreach (Account a in Model)
{
<div>
    @a.UniqNumber
    <div>
        Clients:
        @foreach (Customer c in a.Customers)
        {
<div>@c.FirstName</div>}
    </div>
    <div>
        Opérations:
        @foreach (Operation o in a.Operations)
        {
<div>@o.Amount</div>}
    </div>
    <a asp-controller="Account" asp-action="FormOperation" asp-route-id="@a.Id" asp-route-type="depot">Depot</a>
    <a asp-controller="Account" asp-action="FormOperation" asp-route-id="@a.Id" asp-route-type="retrait">Retrait</a>
</div>
}